<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!--        css stylesheet-->
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="sheet.css">

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

		<!--        font awesome-->
		<script src="https://kit.fontawesome.com/cdad65c924.js" crossorigin="anonymous"></script>

		<title>CONTACT</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
			<a class="navbar-brand" href="/">FOOD PLAZA</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">HOME</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/menu">MENU</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/gallery">GALLERY</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contact">CONTACT</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/reservation">RESERVATION</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/login">LOGIN</a>
					</li>
				</ul>
			</div>
		</nav>
		<section id="contact">
			<h2 class="contact-heading">CONTACT US</h2>
			<div class="contact-subheading">
				<h1>Contact Details</h1>
				<br>
				<p>We accept reservations for parties of up to 8 people. for parties of 10 or more. please call at
					<span>0123-456-789</span> or email us at <span>info@foodplaza.com</span>.</p>
			</div>
			<div class=" contact-icons">
				<div class="row">
					<div class="col-lg-4 col-sm-4 contact-column">

						<div class="item-contact">
							<i class="icon fas fa-phone-alt fa-4x"></i>
							<br>
							<h4>Phone</h4>
							<p>012-345-6789</p>
							<p>934-567-8907</p>
						</div>
					</div>
					<div class="col-lg-4 col-sm-4 contact-column">

						<div class="item-contact">
							<i class="icon fas fa-map-marker-alt fa-4x"></i>
							<br>
							<h4>Address</h4>
							<p>SCO 40-41,SEC-12,HUDA MARKET,KARNAL-132001,HARYANA,INDIA </p>  
						</div>
					</div>
					<div class="col-lg-4 col-sm-4 contact-column">

						<div class="item-contact">
							<i class="icon fas fa-envelope fa-4x"></i>
							<br>
							<h4>Email</h4>
							<p>foodplaza@gmail.com </p>
							<p>xyz@gmail.com</p>
						</div>
					</div>
				</div>
			</div>


		</section>
		<footer id="footer">

			<i class="social-icon fab fa-twitter "></i>
			<i class="social-icon fab fa-facebook-f"></i>
			<i class="social-icon fab fa-instagram"></i>
			<i class="social-icon fas fa-envelope"></i>
			<p>© Copyright 1990 FOOD PLAZA</p>

		</footer>

	</body>
</html>