<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--        css stylesheet-->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="sheet.css">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <!--        font awesome-->
        <script src="https://kit.fontawesome.com/cdad65c924.js" crossorigin="anonymous"></script>

        <title>GALLERY</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
            <a class="navbar-brand" href="/">FOOD PLAZA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link" href="https://sngv17.github.io/Food_Plaza/views/home.html">HOME</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://sngv17.github.io/Food_Plaza/views/menu.html">MENU</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://sngv17.github.io/Food_Plaza/views/gallery.html">GALLERY</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://sngv17.github.io/Food_Plaza/views/contact.html">CONTACT</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://sngv17.github.io/Food_Plaza/views/reservation.html">RESERVATION</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://sngv17.github.io/Food_Plaza/views/login.html">LOGIN</a>
							</li>
						</ul>
            </div>
        </nav>
        <div class="container">
            <div class="gallery">
                <h2 class="gallery-heading">Gallery Grid</h2>
            </div>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img class="gallery-img" src="https://images.unsplash.com/photo-1578474846511-04ba529f0b88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"  >
                </div>
                <div class="col-lg-6 col-md-6">
                    <img class="gallery-img" src="https://images.unsplash.com/photo-1504718855392-c0f33b372e72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"  >
                </div>
<!--
				
				<div class="col-lg-6 col-md-6">
                    <img class="gallery-img" src="https://www.hotelierindia.com/public/styles/full_img_sml/public/images/2020/06/13/shutterstock_1736433836.jpg?itok=KKVRaJK6" >
                </div>
-->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img class="gallery-img" src="https://images.unsplash.com/photo-1563805042-7684c019e1cb?ixlib=rb-1.2.1&auto=format&fit=crop&w=282&q=80" >
                </div>
                <div class="col-lg-6 col-md-6">
                    <img class="gallery-img" src="https://images.unsplash.com/photo-1550547660-d9450f859349?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80" >
                </div>
                <div class="col-lg-6 col-md-6">
                    <img class="gallery-img" src="https://assets.rebelmouse.io/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbWFnZSI6Imh0dHBzOi8vYXNzZXRzLnJibC5tcy8yMTM5NzM1Ni9vcmlnaW4uanBnIiwiZXhwaXJlc19hdCI6MTYxNzk0MTAzOH0.NcPqT-PyiF3iyhL3AmIDYa7_Blkry5thRkUMHUKZk_A/img.jpg?width=980">
                </div>
                <div class="col-lg-6 col-md-6">
                    <img class="gallery-img" src="https://images.unsplash.com/photo-1517244683847-7456b63c5969?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" >
                </div>
                <div class="col-lg-6 col-md-6">
                    <img class="gallery-img" src="https://images.unsplash.com/photo-1528735602780-2552fd46c7af?ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80">
                </div>
                <div class="col-lg-6 col-md-6">
                    <img class="gallery-img" src="https://images.unsplash.com/photo-1555949258-eb67b1ef0ceb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80x" >
                </div>
                <div class="col-lg-6 col-md-6">
                    <img class="gallery-img" src="https://images.unsplash.com/photo-1496318447583-f524534e9ce1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1105&q=80" >
                </div>
                <div class="col-lg-6 col-md-6">
                    <img class="gallery-img" src="https://images.unsplash.com/photo-1506354666786-959d6d497f1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"  >
                </div>

            </div>

        </div>
         <footer id="footer">

                <i class="social-icon fab fa-twitter"></i>
                <i class="social-icon fab fa-facebook-f"></i>
                <i class="social-icon fab fa-instagram"></i>
                <i class="social-icon fas fa-envelope"></i>
                <p>© Copyright 1990 FOOD PLAZA</p>

            </footer>

    </body>
</html>
